* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    scroll-behavior: smooth;
}

/* Header (HOME AND NAV) */
.header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(images/home-start.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 3vh;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    position: relative;
}

nav ul {
    text-align: center;
}

nav img {
    max-width: 100px;
    width: auto;
    height: auto;
}

.nav-links {
    flex: 1;
    font-weight: 600;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    color: #5591F5;
}

.nav-links ul li:hover::after {
    width: 100%;
    transition: 0.15s;
}

.header-titles {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 14vh;
    text-align: center;
}

.header-title {
    font-size: 95px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.header-subtitle {
    font-size: 38px;
    color: white;
    margin: 0;
    font-weight: normal;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 96px;
    font-weight: 600;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    font-weight: 600;
}

/* Header (HOME AND NAV) */



/* About (INFORMATION AND BUTTON) */
.home-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 305px;
    margin: 100px 0;
    font-weight: 700;
}

.text-container {
    max-width: 500px;
}

.text-container h2 {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
}

.text-container p {
    margin-bottom: 50px;
    text-align: justify;
    font-size: 20px;
}

.home-about-container img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.button {
    display: block;
    margin: 30px auto 0;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #5591F5;
    color: white;
    padding: 16px 24px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005EFB;
    color: #fff;
}

/* About (INFORMATION AND BUTTON) */



/* Coaches (IMAGE SLIDER, SINGLE IMAGE) */

/* Coaches (IMAGE SLIDER, SINGLE IMAGE) */



/* Class (INFORMATION AND BUTTON) */
.home-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 305px;
    margin: 100px 0;
    font-weight: 700;
}

.text-container {
    max-width: 500px;
}

.text-container h2 {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
}

.text-container p {
    margin-bottom: 50px;
    text-align: justify;
    font-size: 20px;
}

.home-class-container img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.button {
    display: block;
    margin: 30px auto 0;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #5591F5;
    color: white;
    padding: 16px 24px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005EFB;
    color: #fff;
}

/* Class (INFORMATION AND BUTTON) */



/* Top to Page (BUTTON) */
.top {
    --offset: 50px;

    position: sticky;
    left: 1810px;
    bottom: 30px;
    margin-top: calc(100vh + var(--offset));

    /* visual styling */
    text-decoration: none;
    padding: 20px;
    color: #fff;
    background: #5591F5;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


/* Top to Page (BUTTON) */


/* Footer (SOCIAL MEDIA LINKS) */
footer {
    background-color: #737373;
    text-align: center;
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

footer i {
    color: white;
    padding: 100px;
    justify-content: space-between;
    font-size: 25px;
    padding: 10px;
    padding-left: 1rem;
}

/* Footer (SOCIAL MEDIA LINKS) */



/* SLIDERS (Partners) */
.partner {
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    gap: 30px;
}

.containers {
    text-align: center;
    justify-content: center;
    background-color: #FDF5E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 25px;
    width: 300px;
}

.containers img {
    width: 250px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 25px;
}

.containers p {
    text-align: justify;
}

.arrow-nav {
    margin: 50px;
    text-align: center;
}

#left-arrow,
#right-arrow {
    cursor: pointer;
}

/* SLIDERS (Partners) */



/* SLIDERS (Coaches) */
.inst {
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
}

.inst {
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    gap: 30px;
}

.box {
    text-align: center;
    justify-content: center;
    background-color: #FDF5E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 25px;
    width: 300px;
}

.hidden {
    display: none;
}

.inst img {
    width: 250px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 25px;
}

.inst p {
    text-align: justify;
}

.arrow-nav {
    margin: 50px;
    text-align: center;
}

#left,
#right {
    cursor: pointer;
}

/* SLIDERS (Coaches) */



/* Error */
.error {
    background-image: url(images/background3.jpg);
    min-height: 100vh;
    background-size: cover;
}

.error-text {
    width: 88%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;

}

.error-text p {
    padding-top: 25px;
    margin: 10px 0 40px;
    font-size: 25px;
    font-weight: 300;
}

.error-btn {
    display: inline-block;
    color: #fff;
    border: 2.5px solid #fff;
    padding: 12px 60px;
    font-size: 20px;
    background: transparent;
    font-weight: 600;
}

.error-btn:hover {
    border: 2.5px solid black;
    background-color: black;
    transition: 1s;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}