* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    scroll-behavior: smooth;
}

/* Header (HOME AND NAV) */
.header {
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    position: relative;
}

nav ul {
    text-align: center;
}


.nav-links {
    flex: 1;
    font-weight: 600;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: black;
    display: block;
    margin: auto;
    color: #5591F5;
}

.nav-links ul li:hover::after {
    width: 100%;
    transition: 0.1s;
}
/* Header (HOME AND NAV) */

.menuPic {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(images/contact-face.jpg);
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0 100px 0;
    color: white;
}

.menuPic h1 {
    margin-bottom: 40px;
    padding: 0;
    font-size: 80px;
    background-color: transparent;
}

.map-container {
    display: flex;
    justify-content: center;
    height: 50vh;
  }

  .map-title {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    top: 0;
  }
  
  .map-container iframe {
    width: 90%;
    height: 90%;
    margin-bottom: 2rem;
  }


#contact-form {
    margin: 50px auto;
    width: 60%;
    font-family: Arial, sans-serif;
    color: #333;
}

#contact-form h1 {
    font-size: 40px;
    margin: 0 0 20px 0;
    text-align: center;
}

#contact-form h4 {
    font-size: 24px;
    margin: 0 0 30px 0;
    text-align: center;
}

#contact-form p {
    font-size: 18px;
    margin-bottom: 10px;
}

#contact-form #failure {
    color: red;
    display: none;
}

#contact-form #success {
    color: green;
    display: none;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px;
    width: 100%;
}

#contact-form input[type="text"]:focus,
#contact-form input[type="email"]:focus,
#contact-form textarea:focus {
    border-color: #333;
    outline: none;
}

#contact-form select {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border;
    font-size: 1rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

#contact-form textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

#contact-form button[type="submit"] {
    background-color: #5591F5;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#contact-form button[type="submit"]:hover {
    background-color: #005EFB;
}

#contact-form #success,
#contact-form #failure {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

#contact-form #success {
    color: #008CBA;
}

#contact-form #failure {
    color: #FF4136;
}

/* Footer (SOCIAL MEDIA LINKS) */